@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');
:root {
  --dark: #00385F;
  --yellow: #F2C917;
  --turquose: #28E4C9;
  --purple: #2A95FF;
}